# PEC 3 ‚Äì Visualizaci√≥n de datos
## StoryTelling

**Autor:** Julio √öbeda Quesada  
**Fecha:** 20/12/2025

## Abstract

Este informe presenta un an√°lisis exhaustivo del dataset de reservas hoteleras de dos hoteles en Portugal (City Hotel y Resort Hotel), abarcando el per√≠odo 2015‚Äì2017 con 119.390 observaciones.

El estudio aplica t√©cnicas de anal√≠tica visual para explorar patrones de cancelaci√≥n, comportamiento de reservas, estacionalidad y caracter√≠sticas de los hu√©spedes. Se identifican factores clave que influyen en las cancelaciones, diferencias significativas entre tipos de hotel y tendencias temporales en la demanda.

El an√°lisis integra visualizaciones interactivas que permiten descubrir insights relevantes para la gesti√≥n hotelera, como la relaci√≥n entre lead time y cancelaciones, el impacto del tipo de dep√≥sito y las preferencias seg√∫n origen geogr√°fico.

In [ ]:
# %load_ext autoreload
# %autoreload 2

import os
import sys

# En notebooks, usa la ruta del notebook actual
root_dir = os.path.abspath('..')  # Sube un nivel desde /notebooks/
sys.path.append(root_dir)

import pandas as pd
import numpy as np

import plotly.express as px
import plotly.graph_objects as go

import seaborn as sns
import matplotlib.pyplot as plt

from datetime import datetime

from utils import tidy_functions as tf

In [2]:
# Rutas relativas
data_path = "../1. Datos/hotel_bookings.csv"

df = pd.read_csv(data_path)

# 1. Introducci√≥n y Contexto
## 1.1 Descripci√≥n del Dataset

In [3]:
tf.describe_df(df)

============================================================
üìä DIMENSIONES DEL DATASET
============================================================
   Filas:    119,390
   Columnas: 32
   Total:    3,820,480 celdas
============================================================

,Column,Type,Non-null,% Null,Unique,Mean,Median,Std,Min,Q1,Q3,Max,TopCount
0,hotel,object,119390,0.00,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,City Hotel (79330); Resort Hotel (40060)
1,is_canceled,int64,119390,0.00,2,0.37,0.00,0.48,0.00,0.00,1.0,1.0,0 (75166); 1 (44224)
2,lead_time,int64,119390,0.00,479,104.01,69.00,106.86,0.00,18.00,160.0,737.0,
3,arrival_date_year,int64,119390,0.00,3,2016.16,2016.00,0.71,2015.00,2016.00,2017.0,2017.0,2016 (56707); 2017 (40687); 2015 (21996)
4,arrival_date_month,object,119390,0.00,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,August (13877); July (12661); May (11791)
5,arrival_date_week_number,int64,119390,0.00,53,27.17,28.00,13.61,1.00,16.00,38.0,53.0,
6,arrival_date_day_of_month,int64,119390,0.00,31,15.80,16.00,8.78,1.00,8.00,23.0,31.0,17 (4406); 5 (4317); 15 (4196)
7,stays_in_weekend_nights,int64,119390,0.00,17,0.93,1.00,1.00,0.00,0.00,2.0,19.0,0 (51998); 2 (33308); 1 (30626)
8,stays_in_week_nights,int64,119390,0.00,35,2.50,2.00,1.91,0.00,1.00,3.0,50.0,2 (33684); 1 (30310); 3 (22258)
9,adults,int64,119390,0.00,14,1.86,2.00,0.58,0.00,2.00,2.0,55.0,2 (89680); 1 (23027); 3 (6202)
10,children,float64,119386,0.00,5,0.10,0.00,0.40,0.00,0.00,0.0,10.0,0.0 (110796); 1.0 (4861); 2.0 (3652)
11,babies,int64,119390,0.00,5,0.01,0.00,0.10,0.00,0.00,0.0,10.0,0 (118473); 1 (900); 2 (15)
12,meal,object,119390,0.00,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BB (92310); HB (14463); SC (10650)
13,country,object,118902,0.41,177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRT (48590); GBR (12129); FRA (10415)
14,market_segment,object,119390,0.00,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Online TA (56477); Offline TA/TO (24219); Grou...
15,distribution_channel,object,119390,0.00,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TA/TO (97870); Direct (14645); Corporate (6677)
16,is_repeated_guest,int64,119390,0.00,2,0.03,0.00,0.18,0.00,0.00,0.0,1.0,0 (115580); 1 (3810)
17,previous_cancellations,int64,119390,0.00,15,0.09,0.00,0.84,0.00,0.00,0.0,26.0,0 (112906); 1 (6051); 2 (116)
18,previous_bookings_not_canceled,int64,119390,0.00,73,0.14,0.00,1.50,0.00,0.00,0.0,72.0,
19,reserved_room_type,object,119390,0.00,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A (85994); D (19201); E (6535)
20,assigned_room_type,object,119390,0.00,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A (74053); D (25322); E (7806)
21,booking_changes,int64,119390,0.00,21,0.22,0.00,0.65,0.00,0.00,0.0,21.0,0 (101314); 1 (12701); 2 (3805)
22,deposit_type,object,119390,0.00,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Deposit (104641); Non Refund (14587); Refun...
23,agent,float64,103050,13.69,333,86.69,14.00,110.77,1.00,9.00,229.0,535.0,
24,company,float64,6797,94.31,352,189.27,179.00,131.66,6.00,62.00,270.0,543.0,
25,days_in_waiting_list,int64,119390,0.00,128,2.32,0.00,17.59,0.00,0.00,0.0,391.0,
26,customer_type,object,119390,0.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Transient (89613); Transient-Party (25124); Co...
27,adr,float64,119390,0.00,8879,101.83,94.58,50.54,-6.38,69.29,126.0,5400.0,
28,required_car_parking_spaces,int64,119390,0.00,5,0.06,0.00,0.25,0.00,0.00,0.0,8.0,0 (111974); 1 (7383); 2 (28)
29,total_of_special_requests,int64,119390,0.00,6,0.57,0.00,0.79,0.00,0.00,1.0,5.0,0 (70318); 1 (33226); 2 (12969)
30,reservation_status,object,119390,0.00,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Check-Out (75166); Canceled (43017); No-Show (...
31,reservation_status_date,object,119390,0.00,926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-21 (1461); 2015-07-06 (805); 2016-11-2...